@media (min-width: 768px) {
  .App {
    display: flex;
    min-height: 100vh;
  }

  .App-Sidebar {
    flex: 0 0 320px;
    border-right: 1px solid #666;
    max-width: 320px;
  }
}

.App-Sidebar ul {
  padding: 0;
}

.App-Sidebar li {
  padding: 0.2em 0.5em;
  border-bottom: 1px solid #CCC;
  display: flex;
  cursor: pointer;
}

.App-Sidebar li:hover {
  background-color: #E9E9E9;
}

.App-Sidebar li.selected {
  font-weight: bold;
}

.App-Main {
  flex: 1;
  padding: 1em 1em 2em;
}

.App-StatusBar {
  margin: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5em 1em;
  background-color: white;
  z-index: 1;
  border-top: 1px solid rgba(0,0,0,0.25);
}

canvas {
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: #FBFBFB;
  padding: 2px 4px;
  text-align: left;
}

td {
  border: 1px solid rgba(0,0,0,0.2);
  padding: 2px 4px;
  cursor: pointer;
}

tr:hover td {
  background-color: #FFD;
}

.hint {
  font-size: 0.8em;
  color: #999;
}

.torrent-item {
  cursor: pointer;
}

dd > .TreeItem {
  padding: 0;
  margin: 0;
}

.PieceMap-Piece {
  width: 10px;
  height: 15px;
  border: 1px solid #888;
  margin: 2px;
}

.PieceMap-Piece--done {
  background-color: #88F;
  border-color: #008;
}

.PieceMap-Piece--new {
  background-color: #8F8;
  border-color: #080;
}

.PieceMap-Piece--highlight {
  outline: 2px solid yellow;
}

.PeerIcons {
  display: flex;
}

.PeerIcons-Icon {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid rgba(0,0,0,0.3);
  margin: 2px;
}

.PeerIcons-Icon--seed {}

.PeerIcons-Icon--peer {
  border-style: dashed;
}

.PeerIcons-Icon--downloading {
  background-color: #CFC;
}

.PeerIcons-Icon--uploading {
  background-color: #FCC;
}

.PeerIcons-Icon--downloading.PeerIcons-Icon--uploading {
  background-image: linear-gradient(to right, #CFC,#CFC 50%,#FCC 50% , #FCC);
  background-size: 150%;
  background-position: 50%;
}

.PeerIcons-Icon--stalled {
  opacity: 0.5;
}

.SearchForm {
  display: flex;
  margin-bottom: 0.5em;
}

.SearchBox {
  flex: 1;
  font-size: 22pt;
  padding: 4px 8px;
  border: 1px solid #00000080;
  border-radius: 5px 0 0 5px;
  min-width: 80px;
}

.SearchButton {
  border: 1px solid #00000080;
  border-radius: 0 5px 5px 0;
  border-left-width: 0;
}

.TorrentTabButton {
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}